<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raythonsoft.sso.dao.LogMapper">
  <resultMap id="BaseResultMap" type="com.raythonsoft.sso.model.Log">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="permissions" jdbcType="VARCHAR" property="permissions" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="user_agent" jdbcType="VARCHAR" property="userAgent" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="uri" jdbcType="VARCHAR" property="uri" />
    <result column="method" jdbcType="VARCHAR" property="method" />
    <result column="param" jdbcType="VARCHAR" property="param" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
  </resultMap>
</mapper>