<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raythonsoft.auth.dao.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.raythonsoft.auth.model.Permission">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="resource" jdbcType="VARCHAR" property="resource"/>
        <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
    </resultMap>

    <resultMap id="BaseResultMapWithRole" type="com.raythonsoft.auth.model.RolePermission">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="permission_id" jdbcType="INTEGER" property="permissionId"/>
        <collection property="permissionList" ofType="com.raythonsoft.auth.model.Permission">
            <id column="id" jdbcType="INTEGER" property="id"/>
            <result column="type" jdbcType="VARCHAR" property="type"/>
            <result column="name" jdbcType="VARCHAR" property="name"/>
            <result column="resource" jdbcType="VARCHAR" property="resource"/>
            <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        </collection>
    </resultMap>

    <resultMap id="BaseResultMapWithSubject" type="com.raythonsoft.auth.model.Subject">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="project" jdbcType="VARCHAR" property="project"/>
        <result column="sign" jdbcType="VARCHAR" property="sign"/>
        <collection property="permissionList" ofType="com.raythonsoft.auth.model.Permission">
            <id column="id" jdbcType="INTEGER" property="id"/>
            <result column="type" jdbcType="VARCHAR" property="type"/>
            <result column="name" jdbcType="VARCHAR" property="name"/>
            <result column="resource" jdbcType="VARCHAR" property="resource"/>
            <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        </collection>
    </resultMap>

    <select id="selectByRoleIdList" resultMap="BaseResultMapWithRole">
        SELECT *
        FROM (SELECT *
        FROM role_permission rp
        WHERE rp.role_id IN
        <foreach collection="list" item="roleIdList" index="index"
                 open="(" close=")" separator=",">
            #{roleIdList}
        </foreach>
        ) AS limitable
        LEFT JOIN permission p ON limitable.permission_id = p.id
    </select>

    <select id="selectBySubject" parameterType="com.raythonsoft.auth.model.Subject" resultMap="BaseResultMapWithSubject">
        SELECT
            limitable.*,
            p.*
        FROM (SELECT *
              FROM subject s
              WHERE 1 = 1
                    <if test="id!=null">
                    AND s.id = #{id}
                    </if>
                    <if test="project!=null">
                    AND s.project = #{project}
                    </if>
                    <if test="sign!=null">
                    AND s.sign = #{sign}
                    </if>
             ) AS limitable
            LEFT JOIN subject_role sr ON limitable.id = sr.subject_id
            LEFT JOIN role_permission rp ON sr.role_id = rp.role_id
            LEFT JOIN permission p ON rp.permission_id = p.id
    </select>
</mapper>